title {
    text-align: center;
    color: rgb(2, 11, 31);
    font-family: sans-serif, 'Fira Sans';
}

body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    color: rgb(83, 75, 75);
}
h1 {
    font-family: 'Oswald', sans-serif;

}

p {
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 36px;
}

a {
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color: rgb(167, 1, 78);
}

a:hover {
    color: aqua;
    size: 30px;
    text-decoration: underline;
}